{{ 'category-collection-desc.css' | asset_url | stylesheet_tag }}

<div class="collection-desc-container">
  <h1>{{ section.settings.collection_title }}</h1>
  <p>{{ section.settings.collection_description }}</p>
</div>


{% schema %}
  {
    "name": "Category collection desc",
    "settings": [
      {
        "type": "text",
        "id": "collection_title",
        "label": "Collection Title",
        "default": "Jackets"
      },
      {
        "type": "textarea",
        "id": "collection_description",
        "label": "Collection Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
      }
    ],
    "presets": [
      {
        "name": "Custom Collection Desc",
        "settings": {
        }
      }
    ]
  }
{% endschema %}