{% style %}
  .collection-desc-container {
    background-color: #F5F6F4;
    text-align: center;
    padding: 80px
  }

  .collection-desc-container h1, .collection-desc-container p {
    color: #004289;
  }

  .collection-desc-container h1 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .collection-desc-container p {
    width: 60%;
    margin: auto;
  }
{% endstyle %}

<div class="collection-desc-container">
  <h1>Tops & Jackets</h1>
  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</div>


{% schema %}
  {
    "name": "Category collection desc",
    "settings": [],
    "presets": [
      {
        "name": "Custom Collection Desc",
        "settings": {
        }
      }
    ]
  }
{% endschema %}