{{ 'category-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero-container">
  <img src="{{ 'hero-collection.jpg' | asset_url }}" />
  <h1>Tops & Jackets</h1>  
</div>

{% schema %}
  {
    "name": "Category collection hero",
    "settings": [],
    "presets": [
      {
        "name": "Custom Collection Hero",
        "settings": {
        }
      }
    ]
  }
{% endschema %}