{{ 'custom-content.css' | asset_url | stylesheet_tag }}

<div id="custom-content-container">
  <div class="custom-content-text">
    <h1>h1 basic content page</h1>
    <h3>This is a subtitle which typically goes under a headline</h3>
    <p>Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.

Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <h2>This is h2 headline</h2>
    <img src="{{ 'table.png' | asset_url }}"/>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.

Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.

Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <div class="custom-content-images">
      <img src="{{ 'green_jacket.png' | asset_url }}"/>
      <img src="{{ 'purple_jacket.png' | asset_url }}"/>
    </div>
  </div>
  <nav class="custom-content-sidebar">
    <h1 class="sidebar-title">Sidebar</h1>
    <div>
      <a>About us</a>
      <a class="customer-service">Customer Service</a>
      <a>Store locator</a>
      <a>Delivery</a>
      <a>Return policy</a>
      <a>Privacy policy</a>
      <a>Size guide</a>
      <a>Contact us</a>
    </div>
  </nav>
</div>

{% schema %}
  {
    "name": "Custom Content",
    "settings": [],
    "presets": [
      {
        "name": "Custom Content",
        "settings": {
        }
      }
    ]
  }
{% endschema %}