{{ 'custom-multi-column.css' | asset_url | stylesheet_tag }}

<div class="multi-column-section">
  <div class="multi-column-title">
    <h2>Quisque velit nisi-</h2>
    <h1>"Pellentesque in ipsum id orci porta dapibus."</h1>
  </div>
  <div class="multi-columns">
    <div class="column">
      <span>{%- render 'house-location' -%}</span>
      <h2>We Love Outdoors</h2>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="column">
      <span>{%- render 'eco-earth' -%}</span>
      <h2>Sustainable</h2>
      <p>Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum.</p>
    </div>
    <div class="column">
      <span>{%- render 'saint-patrick-pin' -%}</span>
      <h2>Based in Ireland</h2>
      <p>Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
    <div class="column">
      <span>{%- render 'knitting-ball' -%}</span>
      <h2>Something</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
  <div class="multi-column-button">
    <button>
      LEARN MORE
    </button>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Multi-column",
    "settings": [
       {
        "type": "range",
        "id": "grid",
        "label": "Labels per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
    ],
     "presets": [
      {
        "name": "Custom Multi-Column",
        "settings": {
        }
      }
    ]
  }
{% endschema %}