.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.gallery-container-1 {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  flex-wrap: wrap;
}

.gallery-container-1 .gallery-text {
  background-color: #0468DB;
}

.gallery-container-2 {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  flex-wrap: wrap;
}

.gallery-container-2 .gallery-text {
  background-color: #004289;
}

.gallery-container-1 img,
.gallery-container-2 img {
  width: 50%;
  object-fit: cover;
}

.gallery-container-1 .gallery-text,
.gallery-container-2 .gallery-text {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.gallery-text h1 {
  font-weight: 700;
  color: white;
  font-size: 36px;
}

.gallery-text p {
  color: white;
  font-size: 16px;
}

.gallery-text button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.gallery-container-3 {
  grid-column: 2;
  grid-row: 1 / 3;
  height: 100%;
}

.gallery-container-3 > div {
  position: relative;
  height: 100%;
  text-align: center;
}

.gallery-container-3 img {
  filter: brightness(50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-container-3 .gallery-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 1280px) {
  .gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .gallery-container-1, .gallery-container-2 {
    width: 100%;
    flex-direction: column;
  }

  .gallery-container-3 {
    grid-column: 1;
    grid-row: 3;
  }

  .gallery-container-1 img, .gallery-container-2 img, .gallery-container-1 .gallery-text, .gallery-container-2 .gallery-text {
    width: 100%;
  }

  .gallery-container-1 .gallery-text, .gallery-container-2 .gallery-text {
    padding: 30px;
  }
}
