.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.gallery-container-1 {
  grid-column: 1;
  grid-row: 1;
  display: flex;
}

.gallery-container-1 .gallery-text {
  background-color: #0468DB;
}

.gallery-container-2 {
  grid-column: 1;
  grid-row: 2;
  display: flex;
}

.gallery-container-2 .gallery-text {
  background-color: #004289;
}

.gallery-container-1 img, .gallery-container-2 img {
  min-width: 50%;
  width: 50%;
}

.gallery-container-1 .gallery-text, .gallery-container-2 .gallery-text {
  width: 100%;
  padding: 20px;
}

.gallery-text h1 {
  font-weight: bold;
  color: white;
}

.gallery-text p {
  color: white;
}

.gallery-text button {
  background-color: transparent;
  border-radius: 0px;
  border: 1px solid white;
  font-weight: 600;
}

.gallery-container-3 {
  grid-column: 2;
  grid-row: 1/3;
}

.gallery-container-3 .gallery-text {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* .gallery-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
} */