#custom-content-container {
  display: flex;
  width: 100%;
  gap: 50px;
}

.custom-content-text {
  width: 70%;
  padding: 50px;
}

.custom-content-sidebar {
  width: 30%;
  background-color: #F5F6F4;
  padding: 50px;
}

.custom-content-sidebar h1, .custom-content-text h1, .custom-content-text h2, .custom-content-text h3 {
  font-weight: bold;
  color: #004289;
}

.custom-content-text h1 {
  font-size: 64px;
}

.custom-content-text h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}

.custom-content-text p {
  padding: 20px 0px;
}

.custom-content-sidebar div {
  display: flex;
  flex-direction: column;
}

.custom-content-sidebar .customer-service {
  color: #004289;
}

.custom-content-images {
  display: flex;
  gap: 20px;
}

.custom-content-images img {
  width: 50%;
  object-fit: cover;
}

.custom-content-sidebar a {
  cursor: pointer;
}

@media (max-width: 1280px) {
  #custom-content-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .custom-content-text {
    width: 100%;
    padding: 20px;
  }

  .custom-content-text h1 {
    font-size: 40px;
  }

  .custom-content-images {
    flex-direction: column;
  }

  .custom-content-images img {
    width: 100%;
  }

  .custom-content-sidebar {
    width: 100%;
    padding: 50px 20px;
  }
}