:root {
  --text-color: #004289;
  --sale-color: #DA394C;
  --normal-color: #333333;
}

.section-featured-collection .hometitle span {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--text-color);
}

.use-alt-bg {
  background-color: white;
}

.product-block__title {
  color: var(--text-color);
  font-weight: 500;
}

.product-price__amount--on-sale {
  color: var(--sale-color);
  font-weight: 500;
}

.product-price__amount--on-sale + .product-price__compare {
  color: var(--text-color);
  font-weight: 500;
  opacity: 1;
}

.product-price .product-price__compare {
  color: var(--normal-color);
}

.product-link .vendor {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #004289;
}