.section-footer-container {
  display: flex;
  margin: 60px 0px;
  justify-content: space-around;
}

.footer-info-links {
  display: flex;
  flex-direction: column;
}

#custom-footer .footer-info-links a, .footer-contact p {
  color: #333333;
}

.footer-info-links h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.footer-contact h1 {
  font-weight: bold;
  text-transform: capitalize;
}

.footer-contact p span {
  color: #004289;
  font-weight: bold;
}

.footer-contact p:first {
  margin-bottom: 0px;
}

.footer-contact .address {
  width: 150px;
}

.section-footer__newsletter-block {
  background-color: #004289;
  padding: 40px;
}

h6#newsletter-title {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.section-footer__text {
  color: white;
}

.section-footer__text {
  color: #CCD1CE;
}

.btn--signup-form__button {
  width: 100%;
  background-color: #032C58;
  font-weight: bold;
}

.section-footer-container .signup-form label {
 color: white;
 margin-bottom: 5px;
}

.social-icons-footer {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.social-icons-footer span {
  background-color: #004289;
  padding: 10px;
  border-radius: none;
}

#custom-footer .signup-form__email {
  border-radius: 0;
}

.bottom-footer-custom-section .section-footer__row {
  display: flex;
  justify-content: space-evenly;
}

.bottom-footer-custom-section .copy, .bottom-footer-custom-section .built-by b {
  color: #333333;
}

.footer-info-links a, .social-icons-footer span {
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-footer-container {
    flex-direction: column;
    margin: 30px 0;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-info-links, .footer-contact {
    margin-bottom: 30px;
  }

  .footer-info-links h1, .footer-contact h1 {
    margin-bottom: 5px;
  }
}