:root {
  --primary-colour: #004289;
}

.show-search {
  padding: 3px;
  width: 100%;
}

#pageheader {
  display: flex;
}

.logo-area__left {
  display: flex;
}

#pageheader .logo-area__middle {
  display: flex;
  flex-grow: 2;
}

.logo-area__right {
  display: flex;
}

.logo img {
  width: {{ section.settings.logo_img_width_int }}px;
}
.logo-area__middle--logo-image {
  max-width: {{ section.settings.logo_img_width_int }}px;
}

.search-wrapper { 
  position: relative; 
  display: inline-block; 
} 

.search-wrapper input { 
  border: none;
  padding: 5px 100px 5px 5px;
  background-color: #F5F6F4;
} 

::placeholder {
  color: #004289;
  font-weight: bold;
}

.search-wrapper span { 
  position: absolute; 
  top: 0; 
  right: 0; 
  cursor: pointer; 
  color: #004289;
} 

.cart-link__icon svg, .cart__count, .outline svg {
  color: var(--primary-colour);
}

.outline {
  padding-right: 20px;
}

.cart-link__icon {
  padding-right: 10px;
}