:root {
  --primary-colour: #004289;
}

.logo-area {
  height: 100px;
}

.show-search {
  padding: 3px;
  width: 100%;
  border: none;
  padding: 5px 100px 5px 5px;
  background-color: #F5F6F4;
}

.search-wrapper span { 
  position: absolute; 
  top: 0; 
  right: 0; 
  cursor: pointer; 
  color: #004289;
} 

.search-wrapper { 
  position: relative; 
  display: inline-block; 
} 

.logo-area__left {
  display: flex;
  flex: 0 0.5 100px;
}

.logo-area__middle--logo-image {
  /* max-width: {{ section.settings.logo_img_width_int }}px; */
  display: flex;
  flex: 4;
}

.logo-area__right {
  display: flex;
  flex: 0;
}

::placeholder {
  color: #004289;
  font-weight: bold;
}

.cart-link__icon svg, .cart__count, .outline svg {
  color: var(--primary-colour);
}

.outline {
  padding-right: 20px;
}

.cart-link__icon {
  padding-right: 10px;
}

#main-search {
  display: none;
}