:root {
  --primary-colour: #004289;
}

#pageheader {
  border: 0;
}

.logo-area {
  height: 80px;
  border: 0;
}

.show-search {
  padding: 3px;
  width: 100%;
  border: none;
  padding: 5px 100px 5px 5px;
  background-color: #F5F6F4;
}

.search-wrapper { 
  position: relative; 
  display: inline-block; 
  width: 80vw;
} 

.search-wrapper span { 
  position: absolute; 
  top: 0; 
  right: 0; 
  cursor: pointer; 
  color: #004289;
} 

.logo-area__left {
  display: flex;
  flex: 0 0.5 100px;
}

.logo-area__middle--logo-image {
  display: flex;
  flex: 6;
};

.logo-area__right {
  display: flex;
  flex: 0 !important;
}

.cart-link__icon {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-link__icon .cart__count {
  padding: 15px;
  width: 65px;
}

::placeholder {
  color: #004289;
}

.cart-link__icon svg, .cart__count, .outline svg {
  color: var(--primary-colour);
}

.outline {
  padding-right: 20px;
}

#main-search {
  display: none;
}

.desktop-only .navigation--main {
  border: 0;
}