.custom-newsletter-container {
  background: white;
  width: 50%;
  padding: 50px;
}

.custom-newsletter-container h2, .custom-newsletter-container div {
  color: #004289;
}

.section-signup h2 {
  color: #333333;
  margin: 0 0 5px;
  font-size: 36px;
  font-weight: 700;
}

.section-signup .subtitle {
  margin-bottom: 0;
}

.section-signup p {
  color: #333333;
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
}

#home_newsletter_signup {
  margin-top: 25px; 
}

#home_newsletter_signup .signup-form__inline-container {
  width: 100%;
  gap: 15px;
}

#home_newsletter_signup label {
  display: block;
  text-align: start;
  color: #004289;
  font-weight: 500;
}

.signup-form__inline-container .signup-form__button {
  font-weight: 700;
  font-size: 16px;
}

.signup-form__inline-container .signup-form__email {
  width: 50%;
}