.price-label--sale {
  text-transform: uppercase;
  color: white;
  background-color: #DA394C;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

