.price-label--sale {
  text-transform: uppercase;
  color: white;
  background-color: #DA394C;
  letter-spacing: 1px;
  font-weight: 700;
  width: 100%;
  display: inline-block;
  font-size: 12px;
}

