 .article-rich-text {
  width: 100%;
  background-color: #004289;
}

.article-rich-text .article-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #004289;
}

.rich-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 0px;
  margin-bottom: 0;
  gap: 20px;
  font-weight: bold;
};

.rich-text-title {
  padding-bottom: 0;
}