 .article-rich-text {
  width: 100%;
  background-color: #004289;
}

.article-rich-text .article-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #004289;
}

.rich-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 0px;
  margin-bottom: 0;
  gap: 20px;
  font-weight: bold;
}

.rich-text-title {
  margin-bottom: 0;
  font-size: 24px;
}

@media (max-width: 768px) {

  .article-rich-text .article-container {
    flex-direction: column;  
  }

  .rich-text-container {
    justify-content: flex-start;
    padding: 20px;
    font-size: 16px;
  }
  
  .rich-text-container {
    
  }
}